/* Styl kontenera */
.container-register h1 {
	font-family: Arial, sans-serif;
	color: #666;
}

.container-register {
	margin: 0 auto;
	margin-top:px;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 8px;
	color: #666;
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2));
}

/* Styl nag³ówka */
h1 {
	color: #333;
	font-family: Arial, sans-serif;
	text-align: center;
	margin-bottom: 20px;
}

/* Styl dla ka¿dego elementu formularza */
.input-element-register {
	min-width: 400px;
	padding: 10px;
	margin-bottom: 15px;
	font-weight: 900;
	font-size: 18px;
}

	/* Styl etykiet */
	.input-element-register label {
		display: block;
		margin-bottom: 5px;
		color: #666;
		font-family: Arial, sans-serif;
	}

	/* Styl pól formularza */
	.input-element-register input {
		width: 100%;
		padding: 10px;
		/*border: 1px solid #ccc;*/
		border-radius: 4px;
		box-sizing: border-box;
	}

/* Zwiêksza u¿ytecznoœæ przez zmianê kursora na wskaŸnik gdy najedziemy na przycisk */
input[type="submit"]:hover {
	cursor: pointer;
}


/* Styl przycisku */
.container-register button[type="submit"] {
	width: 100%;
	padding: 10px 0;
	background-color: #4CAF50;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

	/* Styl przycisku przy najechaniu */
	.container-register button[type="submit"]:hover {
		background-color: #45a049;
	}

.error-message {
	position: absolute;
	color: red;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.normal-border-input-register {
	border: 1px solid #ccc;
}

.error-border {
	border: 1px solid red;
}

.register-message {
	text-align: center;
	font-weight: 800;
	font-size: 18px;
}

.error-register {
	color: red;
}

.go-to-register {
	border: none;
	display: flex;
	font-weight: 25px;
	/*border:2px solid black;*/
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	background: #3366ff;
	cursor:pointer;
}

.link {
	width: 100%;
	text-decoration: none;
	text-align: center;
	/*font-weight:bold;*/
	font-size: 16px;
	color: white;
}

.go-to-register:hover {
	background: #668cff;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-top: 20px;
}

.input, .select {
	padding: 8px;
	width: 200px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.select {
	width: 214px; /* Dostosowanie do szerokoœci z padding */
	background-color: white;
}

.button {
	padding: 10px 20px;
	cursor: pointer;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
}

.label {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}
