**/Properties/launchSettings.json

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Scaffolding
ScaffoldingReadMe.txt

# Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Mono-specific
mono_crash.*

# Xcode
.DS_Store
/TrainingApp/.vs/TrainingApp/FileContentIndex
/.vs/App/FileContentIndex
/.vs
/TrainingApp/.vs
/TrainingApp/TrainingApp.Server/Data/FitAppContext.cs
