.food-list-component {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px; /* Zwiêkszony padding dla wiêkszych kwadratów */
    text-align: center;
    height: 500px; /* Okreœla wysokoœæ komponentów */
}

.component-exercise {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px; /* Zwiêkszony padding dla wiêkszych kwadratów */
    text-align: center;
    height: 500px; /* Okreœla wysokoœæ komponentów */
    /*width: 250px;*/
}
