.user-exercises-row {
    width:95%;
    display:flex;
    border:2px solid white;
    justify-content:space-around;
    padding:5px;
    border-radius:2px;
    margin-top:5px;
    text-align:center;
    cursor:pointer;
}

.user-exercises-list-element {
    text-align:center;
    width:100px;
}

.user-exercies-choosen {
    background-color: rgb(65, 65, 150);
}

.user-add-exercises-repetitions-container {
    position: absolute;
    bottom: 40px;
    width: 85%;
    padding:0;
    margin:0;
    /*border:2px solid red;*/
}


